<div class="p-6 space-y-4">
    <h2 class="text-2xl font-semibold">Toutes les recettes</h2>
  
    <div class="flex flex-wrap gap-4 items-center">
      <input [(ngModel)]="searchTerm" (input)="onSearch()" type="text" placeholder="Rechercher une recette..." class="border p-2 rounded w-full md:w-1/3"/>
  
      <select [(ngModel)]="selectedCategory" (change)="onFilterCategory()" class="border p-2 rounded w-full md:w-1/4">
        <option value="">Toutes les catégories</option>
        <option value="Dessert">Dessert</option>
        <option value="Vegetarian">Végétarien</option>
        <option value="Beef">Boeuf</option>
        <option value="Chicken">Poulet</option>
      </select>
    </div>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
      <div *ngFor="let recipe of filteredRecipes" class="bg-white shadow p-4 rounded">
        <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" class="rounded mb-2" />
        <h3 class="text-lg font-bold">{{ recipe.strMeal }}</h3>
        <p class="text-sm text-gray-500">Catégorie : {{ recipe.strCategory }}</p>
      </div>
    </div>

</div>
  